<div class="container my-3 my-sm-5" style="background-color: #FEE9D7;">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-12">
                <h2>
                    {{post.title}}
                </h2>
                <img class="coverImage" src="{{post.post_image}}" alt="">
                <p style="white-space: pre-line" id="add">
                    {{post.content}}
                </p>
            </div>
        </div>
    </div>